.head2 {
    text-align: center;
    margin-bottom: 30px;
}

.art {
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.artic {
    margin: 10px;
}

.articles {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 30px;
    background-color: #006c9b;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);

}

.bor {
    padding: 10px;
    border: 2px solid rgb(0 0 0);
    border-radius: 10px;
    box-shadow: 2px 3px 2px #b6b6b6;
}

.makalalar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
}

.makalalar .bor {
    transition: transform 0.3s ease;
}

.makalalar .bor:hover {
    transform: scale(1.05);
}

.makalalar img {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    box-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.makalalar p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.makalalar a {
    text-decoration: none;
    color: inherit;
}

@media (max-width:660px) {
    .makalalar {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        margin: 15px auto;
    }

    .makalalar img {
        height: 120px;
    }

    .makalalar p {
        font-size: 14px;
    }

    .articles {
        width: 90%;
        font-size: 25px;
    }
}