 .head2 {
    text-align: center;
    margin-bottom: 30px;
}

.cert {
    margin: 10px;
    text-shadow: 4px 4px 6px #000;
}

.certificate p {
    text-shadow: 4px 4px 6px #000;

}

 .certificate {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 30px;
    background-color: #006c9b;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

 .cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 50px;
}

.cert-item {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;

}

.cert-item p {
    font-size: 20px;
    color: #b50134;
    line-height: 1.5;
    margin-bottom: 10px;
}

.cert-item button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.cert-item button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.cert-item img {
    width: 100%;
    max-height: 300px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    display: none;
    height: 50%;
}

 @media (max-width: 600px) {
    .cert-item p {
        font-size: 14px;
    }

    .cert-item button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .head3 ul li a i {
        font-size: 20px;
    }

    .certificate p {
        font-size: 20px;
    }
}
        